{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<center>
<h1 style=" font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">{% trans "Account Inactive" %}</h1>

<p>{% trans "This account is inactive." %}</p>

</center>
{% endblock %}
