{% extends "tutorial/tutorial_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h2> Basic Rules and Territory </h2>

</div>

<div>

<div style="width: 500px; margin: 0; padding-left:100px; float: left;" id="tsumego_id">
Your browser doesn't support WGo Player. Use some modern browser like IE9, Google Chrome or Mozilla Firefox.
</div>


<div class="right-side">
	<div class="buts">
		<button type="button" class="btn btn-success" id="tut_1_button" style="display: none;">Continue</button>
		<a class="btn btn-primary" role="button" id="tut_1_finish" style="display: none;" >Move to next level!</a>
	</div>
	<div class="dialog">
		<p id="tut_1_text">

		</p>
	</div>
	<img src = " ../../static/soldier.png " height="240px" width="160px">
</div>
</div>

<script src="../../static/tutorial/tutorial_helper.js"></script>
<script src="../../static/tutorial/tutorial_1/tutorial_1.js"></script>

{% endblock %}
